[Unit]
Description=uWsgi instance to start cal_app
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/env/ bash -c 'cd /var/www/cal_app/; uwsgi uwsgi.ini'

[Install]
WantedBy=multi-user.target

