
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<link href="{{ url_for('static', filename='css/fullcalendar.min.css') }}" rel="stylesheet" />
		<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
		<!--<script src="{#{ url_for('static', filename='jquery/jquery.min.js') }#}"></script>
		<script src="{#{ url_for('static', filename='jquery/jquery-ui.min.js') }#}"></script>
		-->
		<script src="{{ url_for('static', filename='jquery-ui-1.11.4/external/jquery/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/calender_code.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static' , filename='css/calendar_code.css') }}">
		<link rel="stylesheet" href="{{ url_for('static' , filename='jquery-ui-1.11.4/jquery-ui.css') }}">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		</head>
	<body>
		
	<script>
	$(document).ready(function(){
		var csrftoken = "{{ csrf_token () }}";
		$('form').on('submit',function(event) 
		{
			event.preventDefault();
			$.ajax(
			{
				url: '/calendar/add/',
				data: $('form').serialize(),
				type: 'POST',
				beforeSend:function(xhr,settings)
				{
					var csrftoken = $('meta[name=csrf-token]').attr('content');
					//if (!/^(GET|HEAD|OPTIONS|TRACE|POST)$/i.test(settings.type) && !this.crossDomain) 
					//{
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					//}
				},
				success: function(response) {
					console.log(response);
				},
				error: function(error) 
				{
					console.log(error);
				}
			});      
		});
	});
	</script>
	<!--
		
		https://github.com/fullcalendar/fullcalendar-site-static 
	-->
	<!--
	<form>
		<input type ="text" name = "CSRFToken" id = "CSRFToken" value = "{{ csrf_token() }}" />
		<input type = "text" name = "test" id = "test" value = "" />
		<input type = "submit" value="submit"/>
	</form>
	-->
	<div id = 'calendar-warning'>
		Error in calendar_data
	</div>
	<a href="/"><span class="glyphicon glyphicon-home"></span></a> &nbsp;
	<div id='calendar'></div>
	<div id="eventContent" title="Event Details" style="display:none;">
	Title: <span id="title"></span><br />
    Start: <span id="startTime"></span><br>
    End: <span id="endTime"></span><br><br>
</div>
	</body>
</html>
